<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Register</title>
</head>


<body>

	<header id="top">
		<h1>mystor</h1>
		<nav>
			<a href="index.html">Home</a>
			<a href="bestsellers.html">Best Sellers</a>
			<a href="items.html">All Products</a>
			<a href="cart.html">My Cart</a>
			<a href="orderhistory.html">Orders</a>
			<a href="login.html">Login or SignUp</a>
		</nav>
	</header>

	<section>
		<a href="bestsellers.html" alt="offers"><img src="./../images/sale.jpg" width="100%" alt="offers"></a>
	</section>

	<!--Temporary-->
	<h5>We are working on the registration page. We'll be back. </h5>



	<footer>
		<nav>
			<a href="#top">Back to top</a>
			<a href="login.html">Login or SignUp</a>
			<a href="cart.html">My Cart</a>
			<a href="orderhistory.html">Order History</a>
		</nav>
		<p>&copy; 2020 by <a href="https://lolcxx.github.io">Saurabh Patra</a></p>
	</footer>

</body>


</html>